/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Bad+Script|Sanchez");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  background: #282a36;
  color: #f8f8f2;
  height: 100vh;
  font-family: "Sanchez";
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

.container {
  position: relative;
  overflow-x: hidden;
}

.content {
  width: 100%;
  min-height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #282a36;
}

.scroll-to-top {
  color: #50fa7b;
  font-size: 2.5em;
}

.header {
  position: fixed;
  z-index: 2;
  top: -6vh;
  left: -3vh;
  width: 100vw;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  -webkit-perspective: 100px;
          perspective: 100px;
  padding: 5em 1em 0 1em;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  background: #44475a;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  padding: 0.25em;
  color: #ffb86c;
}

.header_links_about, .header_links_projects, .header_links_contact {
  padding: 0.25em;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

.header_links_about:hover, .header_links_about:focus, .header_links_projects:hover, .header_links_projects:focus, .header_links_contact:hover, .header_links_contact:focus {
  text-decoration: underline;
}

.header_links #activeLink {
  color: #ff79c6;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Bad Script', cursive;
}

.intro_particles {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  width: 100vw;
  height: 110vh;
}

.intro_particles_canvas {
  background: #282a36;
}

.intro_info {
  position: absolute;
  top: 20%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-filter: drop-shadow(0 0 13px #000);
          filter: drop-shadow(0 0 13px #000);
  padding: 1em;
}

.intro_info_name {
  font-size: 3em;
  padding: 0.5em;
}

.intro_info_subtitle {
  font-size: 2em;
  color: #ff79c6;
  padding: 0.5em;
}

.intro_scroll {
  position: absolute;
  bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  color: #50fa7b;
  background: none;
  border: none;
  font: inherit;
  font-size: 1.5em;
}

.intro_scroll:hover {
  cursor: pointer;
  -webkit-animation: none;
          animation: none;
}

.intro_scroll_arrow {
  padding-bottom: 0.5em;
  -webkit-animation: _scroll 2s infinite;
          animation: _scroll 2s infinite;
}

.intro_scroll_text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes _scroll {
  0% {
    padding-bottom: 0.5em;
  }
  20% {
    padding-bottom: 0em;
  }
  40% {
    padding-bottom: 0.5em;
  }
}

@keyframes _scroll {
  0% {
    padding-bottom: 0.5em;
  }
  20% {
    padding-bottom: 0em;
  }
  40% {
    padding-bottom: 0.5em;
  }
}

.section-banner {
  position: relative;
  top: -2.5em;
  left: -1.5em;
  width: 100vw;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 1.5em;
  background: #44475a;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  -webkit-perspective: 100px;
          perspective: 100px;
  padding: 1em 2.5em 1em 0;
  text-align: right;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about {
  background: #282A36;
  padding: 2em 2em 4em 2em;
  width: 100%;
}

.about_wrap {
  margin: 0 auto;
  padding: 2em 0 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 75%;
}

.about_intro {
  margin: 0.25em auto;
  text-align: center;
  line-height: 1.25em;
}

.about_divider {
  margin: 1em auto;
  text-align: center;
}

.about_techs-intro {
  text-align: center;
}

.about_techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

.about_icons {
  width: 2em;
  height: 2em;
  margin: 0.25em 2em 0.25em 2em;
  -webkit-filter: invert(86.5%);
          filter: invert(86.5%);
}

.about_labels {
  text-align: center;
}

.projects {
  padding: 2em 2em 4em 2em;
  background: #282a36;
  width: 100%;
}

.projects_wrap {
  margin: 0 auto;
  padding: 2em 0 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 75%;
}

.projects_item {
  width: 260px;
  margin: 15px;
  border-radius: 7px;
  overflow: hidden;
  text-align: center;
  background: #44475a;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
}

.projects_item_img {
  width: 100%;
}

.projects_item_section {
  font-size: 1em;
  padding: 0.25em;
}

.projects_item_hover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em;
}

.projects_item_hover_icons {
  width: 1.25em;
  height: 1.25em;
  margin: 0.25em;
  -webkit-filter: invert(86.5%);
          filter: invert(86.5%);
}

.projects_item_hover_labels {
  font-size: 0.5em;
}

.contact {
  padding: 2em;
  background: #282a36;
  width: 100%;
  min-height: 100vh;
}

.contact_wrap {
  margin: 0 auto;
  padding: 2em 0 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_details {
  width: 2em;
  height: 2em;
  margin: 0 2em 0 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.contact_icons {
  width: 2em;
  height: 2em;
  margin: 1em 2em 1em 2em;
  -webkit-filter: invert(86.5%);
          filter: invert(86.5%);
}

.contact_icons:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contact_labels {
  text-align: center;
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .header {
    top: -9vh;
  }
  .about_wrap {
    max-width: 90%;
  }
  .about_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about_icons {
    margin: 1em 2em 0.25em 2em;
  }
}

@media only screen and (orientation: landscape) and (min-aspect-ratio: 16 / 10) {
  .header {
    top: -18vh;
    left: -5vh;
    text-align: left;
    padding-left: 3em;
  }
  .header_links {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .intro, .about, .projects, .contact {
    min-height: 120vh;
  }
  .intro_info {
    top: 15%;
  }
  .intro_particles {
    height: 125vh;
  }
  .about_wrap {
    max-width: 50%;
  }
}

@media only screen and (min-aspect-ratio: 16 / 10) and (min-height: 600px) {
  .header {
    top: -15vh;
  }
  .intro, .about, .projects, .contact {
    font-size: 1.25em;
  }
  .about, .projects, .contact {
    padding: 0em 2em 4em 2em;
  }
  .about_wrap, .projects_wrap, .contact_wrap {
    padding: 6em 0 6em 0;
  }
}

@media only screen and (min-aspect-ratio: 4 / 3) {
  .header {
    top: -12vh;
    left: -5vh;
    text-align: left;
    padding-left: 3em;
  }
  .header_links {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
/*# sourceMappingURL=global.css.map */