@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Sanchez');

html, body {
  background: #282a36;
  color: #f8f8f2;
  height: 100vh;
  font-family: "Sanchez";
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

.container {
  position: relative;
  overflow-x: hidden;
}

.content {
  width: 100%;
  min-height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #282a36;
}

.scroll-to-top {
  color: #50fa7b;
  font-size: 2.5em;
}

.header {
  position: fixed;
  z-index: 2;
  top: -6vh;
  left: -3vh;
  width: 100vw;
  transform: rotate(-7deg);
  perspective: 100px;
  padding: 5em 1em 0 1em;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  background: #44475a;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 0.25em;
    color: #ffb86c;

    &_about, &_projects, &_contact {
      padding: 0.25em;
      background: none;
      border: none;
      color: inherit;
      font: inherit;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    #activeLink {
      color: #ff79c6;
    }
  }
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bad Script', cursive;

  &_particles {
    transform: rotate(-7deg);
    width: 100vw;
    height: 110vh;
    &_canvas {
      background: #282a36;
    }
  }

  &_info {
    position: absolute;
    top: 20%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    filter: drop-shadow(0 0 13px #000);
    padding: 1em;

    &_name {
      font-size: 3em;
      padding: 0.5em;
    }

    &_subtitle {
      font-size: 2em;
      color: #ff79c6;
      padding: 0.5em;
    }
  }
  &_scroll {
    position: absolute;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: #50fa7b;
    background: none;
    border: none;
    font: inherit;
    font-size: 1.5em;
    &:hover {
      cursor: pointer;
      animation: none;
    }

    &_arrow {
      padding-bottom: 0.5em;
      animation: _scroll 2s infinite;
    }

    &_text {
      user-select: none;
    }

    @keyframes _scroll {
      0% {
        padding-bottom: 0.5em;
      }
      20% {
        padding-bottom: 0em;
      }
      40% {
        padding-bottom: 0.5em;
      }
    }
  }
}

.section-banner {
  position: relative;
  top: -2.5em;
  left: -1.5em;
  width: 100vw;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 1.5em;
  background: #44475a;
  transform: rotate(-7deg);
  perspective: 100px;
  padding: 1em 2.5em 1em 0;
  text-align: right;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about {
  background: #282A36;
  padding: 2em 2em 4em 2em;
  width: 100%;

  &_wrap {
    margin: 0 auto;
    padding: 2em 0 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
  }

  &_intro {
    margin: 0.25em auto;
    text-align: center;
    line-height: 1.25em;
  }

  &_divider {
    margin: 1em auto;
    text-align: center;
  }

  &_techs-intro {
    text-align: center;
  }

  &_techs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  &_icons {
    width: 2em;
    height: 2em;
    margin: 0.25em 2em 0.25em 2em;
    filter: invert(86.5%);
  }

  &_labels {
    text-align: center;
  }
}

.projects {
  padding: 2em 2em 4em 2em;
  background: #282a36;
  width: 100%;

  &_wrap {
    margin: 0 auto;
    padding: 2em 0 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 75%;
  }

  &_item {
    width: 260px;
    margin: 15px;
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
    background: #44475a;
    box-shadow: 0 1em 3em rgba(0,0,0,0.6);

    &_img {
      width: 100%;
    }

    &_section {
      font-size: 1em;
      padding: 0.25em;
    }

    &_hover {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0.25em;
      &_icons {
        width: 1.25em;
        height: 1.25em;
        margin: 0.25em;
        filter: invert(86.5%);
      }
      &_labels {
        font-size: 0.5em;
      }
    }

  }
}

.contact {
  padding: 2em;
  background: #282a36;
  width: 100%;
  min-height: 100vh;

  &_wrap {
    margin: 0 auto;
    padding: 2em 0 4em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &_details {
    width: 2em;
    height: 2em;
    margin: 0 2em 0 2em;
    transition: transform 0.3s;
  }

  &_icons {
    width: 2em;
    height: 2em;
    margin: 1em 2em 1em 2em;
    filter: invert(86.5%);
    &:hover {
      transform: scale(1.3);
    }
  }

  &_labels {
    text-align: center;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .header {
    top: -9vh;
  }

  .about {
    &_wrap {
      max-width: 90%;
    }
    &_row {
      flex-wrap: wrap;
    }
    &_icons {
      margin: 1em 2em 0.25em 2em;
    }
  }
}

// Landscape Displays
@media only screen and (orientation: landscape) and (min-aspect-ratio: 16/10) {
  .header {
    top: -18vh;
    left: -5vh;
    text-align: left;
    padding-left: 3em;
    &_links {
      justify-content: left;
    }
  }

  .intro, .about, .projects, .contact {
    min-height: 120vh;
  }

  .intro {
    &_info {
      top: 15%;
    }
    &_particles {
      height: 125vh;
    }
  }

  .about_wrap {
    max-width: 50%;
  }
}

// Widescreen Desktop Displays
@media only screen and (min-aspect-ratio: 16/10) and (min-height: 600px) {
  .header {
    top: -15vh;
  }

  .intro, .about, .projects, .contact {
    font-size: 1.25em;
  }

  .about, .projects, .contact {
    padding: 0em 2em 4em 2em;
    &_wrap {
      padding: 6em 0 6em 0;
    }
  }
}

@media only screen and (min-aspect-ratio: 4/3) {
  .header {
    top: -12vh;
    left: -5vh;
    text-align: left;
    padding-left: 3em;
    &_links {
      justify-content: left;
    }
  }
}